/* ================== RESPONSIVE TASARIM =============== */
@media (max-width: 1200px) {
  /* tablet devices */
}
@media (max-width: 992px) {
  /* small tablet devices */
}
@media all and (max-width: 768px) {
  /* mobile devices */

  .col-md-3 .card {
  display: none;
}

  .info-wrap .fix-height {
    height: 80px;
  }

  .sagsol {
    margin-left: 10px;
    margin-right: 30px;
  }

}
